<div class="col-sm-12">
    <h2>Edit <%= link_to "redirect", admin_redirect_url(@redirect), class: "btn btn-default dtn-sm" %> <%= link_to "redirects", admin_redirects_url, class: "btn btn-default dtn-sm" %></h2>
    <%= render 'form' %>
</div>