<% content_for :title do %>Website Disclaimer | LoveAQuote<% end %>

<% content_for :description do %>Website Disclaimer for LoveAQuote<% end %>

<% content_for :canonical do %><%= disclaimer_url %><% end %>

<% content_for :heading do %>LoveAQuote Disclaimer<% end %>

<% content_for :content do %>
<p>LoveAQuote is not responsible for, and expressly disclaims all liability for, damages of any kind arising out of use, reference to, or reliance on any information contained within the site. While the information contained within the site is periodically updated, no guarantee is given that the information provided in this Web site is correct, complete, and up-to-date.</p>
<p>Although the LoveAQuote website may include links providing direct access to other Internet resources, including Web sites, LoveAQuote is not responsible for the accuracy or content of information contained in these sites.</p>
<p>Links from LoveAQuote to third-party sites do not constitute an endorsement by LoveAQuote of the parties or their products and services. The appearance on the website of advertisements and product or service information does not constitute an endorsement by LoveAQuote, and LoveAQuote has not investigated the claims made by any advertiser. Product information is based solely on material received from suppliers.
<% end %>

<% content_for :additional_tags do %>
  <meta name="robots" content="noindex,follow">
<% end %>