<% content_for :title, "Contact us | LoveAQuote" %>

<% content_for :desciption, "If you want like to contact us, send us some feedback or would like to work with us, please use the form to connect with us." %>

<% content_for :canonical, new_message_url %>

<% content_for :heading, "Contact us" %>

<% content_for :content do%>
<p>We have received your message. We will get back to you shortly.</p>
<% end %>