<div class="col-sm-12">
    <h2>Edit <%= link_to "book", admin_book_url(@book), class: "btn btn-default dtn-sm" %> <%= link_to "books", admin_books_url, class: "btn btn-default dtn-sm" %></h2>
    <%= render 'form' %>
</div>