<% content_for :title, @title %>

<% content_for :canonical, @canonical %>

<% content_for :heading, "People by Alphabet #{@alphabet}" %>

<% content_for :content do %>
  <div class="row">
    <% @people.each do |person| %>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="more-link text-center">
          <%= link_to person.name, person_url(person, format: :html), title: person.name + " Quotes" %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
