<% content_for :title, @title %>

<% content_for :canonical, @canonical %>

<% content_for :heading, "People by Alphabet #{@alphabet}" %>

<% content_for :content do %>
  <div class="row small-up-1 medium-up-2 large-up-3">
    <% @people.each do |person| %>
      <div class="column text-center">
        <div class="more-link">
          <%= link_to person.name + " Quotes", person_url(person, format: :html), title: person.name + " Quotes" %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>