<div class="col-sm-12">
    <h2>Edit <%= link_to "color scheme", admin_color_scheme_url(@color_scheme), class: "btn btn-default dtn-sm" %> <%= link_to "color schemes", admin_color_schemes_url, class: "btn btn-default dtn-sm" %></h2>
    <%= render 'form' %>
</div>