<div class="login-form">
  <div class="login-content">
        <div class="form-group"> 
            <%= link_to 'Login with Google<i class="e-icon-social-google-plus"></i>'.html_safe, user_omniauth_authorize_path(:google_oauth2), class: "btn btn-default btn-lg btn-block btn-icon icon-left google-button" %>
            <%= link_to 'Login with Facebook<i class="e-icon-social-facebook"></i>'.html_safe, user_omniauth_authorize_path(:google_oauth2), class: "btn btn-default btn-lg btn-block btn-icon icon-left facebook-button" %>
        </div>
  </div>
</div>