<% content_for :title, @title %>

<% content_for :canonical, @canonical %>

<% content_for :heading, "Movies by Alphabet #{@alphabet}" %>

<% content_for :content do %>

  <% first = @movies.count / 3 + @movies.count % 3 %>
  <% second = first + @movies.count / 3 %>
  <% third =  second + @movies.count / 3 %>
  <div class="row">
    <div class="col-md-4">
      <ul>
        <% ( 1..first ).each do |count| %>
          <li><%= link_to @movies[count-1].name, movie_url(@movies[count-1]) %></li>
        <% end %>
      </ul>
    </div>
    <div class="col-md-4">
      <ul>
        <% ( ( first + 1 )..second ).each do |count| %>
          <li><%= link_to @movies[count-1].name, movie_url(@movies[count-1]) %></li>
        <% end %>
      </ul>
    </div>
    <div class="col-md-4">
      <ul>
        <% ( ( second+1 )..third ).each do |count| %>
          <li><%= link_to @movies[count-1].name, movie_url(@movies[count-1]) %></li>
        <% end %>
      </ul>
    </div>
  </div>

<% end %>