<% content_for :title, "Movies by Alphabet #{@alphabet}" %>
<% content_for :canonical, "#{alphabet_movies_url(@alphabet)}" %>

<% content_for :content do %>
  <div class="col-xs-12">
    <h1 class="main-title text-center"><%= "Movies by Alphabet #{@alphabet}" %></h1>
    <div class="row">
      <% @movies.each do |movie| %>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
          <%= link_to movie.name + " Quotes", movie_url(movie), title: movie.name + " Quotes", class: "link-box text-center" %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<% content_for :additional_tags do %>
  <meta name="robots" content="noindex,follow">
<% end %>