<li>
    <div class="quote">

      <div class="quote-text">
        <p itemprop="itemListElement"><%= quote.text %></p>
      </div>

      <div class="quote-meta">
        <div class="quote-info">
          <% cache "quote-info-#{quote.id}-#{quote.updated_at.to_s(:number)}-source-#{quote.source.updated_at.to_s(:number)}" do %>
            <% if quote.source.published? %>
              <% if quote.source.class.name == "Proverb" %>
                <%= link_to quote.source.name, model_url(quote.source, format: :html), title: quote.source.name + " Proverbs" %>
              <% else %>
                <%= link_to quote.source.name, model_url(quote.source, format: :html), title: quote.source.name + " Quotes" %>
              <% end %>
            <% else %>
              <%= quote.source.name %>
            <% end %>
          <% end %>
        </div>
      </div>

    </div>
</li>