<% content_for :title, @title %>

<% content_for :canonical, @canonical %>

<% content_for :heading, "Topics by Alphabet #{@alphabet}" %>

<% content_for :content do %>
  <div class="row">
    <% @topics.each do |topic| %>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="more-link">
          <%= link_to topic.name, topic_url(topic, format: :html), title: topic.name + " Quotes" %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
