<div class="col-sm-12">
    <h2>Edit <%= link_to "author", admin_author_url(@author), class: "btn btn-default dtn-sm" %> <%= link_to "authors", admin_authors_url, class: "btn btn-default dtn-sm" %></h2>
    <%= render 'form' %>
</div>