<% content_for :title, @title %>

<% content_for :canonical, @canonical %>

<% content_for :heading, "Tv Shows by Alphabet #{@alphabet}" %>

<% content_for :content do %>

  <% first = @tv_shows.count / 3 + @tv_shows.count % 3 %>
  <% second = first + @tv_shows.count / 3 %>
  <% third =  second + @tv_shows.count / 3 %>
  <div class="row">
    <div class="col-md-4">
      <ul>
        <% ( 1..first ).each do |count| %>
          <li><%= link_to @tv_shows[count-1].name, tv_show_url(@tv_shows[count-1]) %></li>
        <% end %>
      </ul>
    </div>
    <div class="col-md-4">
      <ul>
        <% ( ( first + 1 )..second ).each do |count| %>
          <li><%= link_to @tv_shows[count-1].name, tv_show_url(@tv_shows[count-1]) %></li>
        <% end %>
      </ul>
    </div>
    <div class="col-md-4">
      <ul>
        <% ( ( second+1 )..third ).each do |count| %>
          <li><%= link_to @tv_shows[count-1].name, tv_show_url(@tv_shows[count-1]) %></li>
        <% end %>
      </ul>
    </div>
  </div>

<% end %>