<% content_for :title, @title %>

<% content_for :canonical, @canonical %>

<% content_for :heading, "Tv Shows by Alphabet #{@alphabet}" %>

<% content_for :content do %>
  <div class="row">
    <% @tv_shows.each do |tv_show| %>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="more-link">
          <%= link_to tv_show.name, tv_show_url(tv_show, format: :html), title: tv_show.name + " Quotes" %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
