<div class="col-sm-12">
    <h2>Edit <%= link_to "nationality", admin_nationality_url(@nationality), class: "btn btn-default dtn-sm" %> <%= link_to "nationalities", admin_nationalities_url, class: "btn btn-default dtn-sm" %></h2>
    <%= render 'form' %>
</div>