<% if model.class.name == "Topic" %>
    <% if model.all_topic_combinations.any? %>
        <div class="widget">
          <div class="heading">
            <h5>Similar Topics</h5>
          </div>
          <div class="content">
            <div class="row small-up-1 medium-up-1 large-up-1">
              <% model.all_topic_combinations.each do |combination| %>
                <div class="column">
                  <div class="more-link">
                    <%= link_to combination.name + " Quotes", topics_topic_combination_url(combination, format: :html), title: combination.name + " Quotes" %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
    <% end %>
<% end %>