<div class="widget">
    <div class="content">
        <script type="text/javascript">
            amzn_assoc_placement = "adunit0";
            amzn_assoc_enable_interest_ads = "true";
            amzn_assoc_tracking_id = "lov01a-20";
            amzn_assoc_ad_mode = "auto";
            amzn_assoc_ad_type = "smart";
            amzn_assoc_marketplace = "amazon";
            amzn_assoc_region = "US";
            amzn_assoc_linkid = "1f6774f34268e27b2110f43f1b9bb5a1";
            amzn_assoc_fallback_mode = {"type":"search","value":"books"};
            amzn_assoc_default_category = "All";
        </script>
        <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>            
    </div>
</div>
<% if model.class.name == "Topic" %>
    <% if model.all_topic_combinations.any? %>
        <div class="widget">
          <div class="heading">
            <h5>Similar Topics</h5>
          </div>
          <div class="content">
            <div class="row small-up-1 medium-up-1 large-up-1">
              <% model.all_topic_combinations.each do |combination| %>
                <div class="column">
                  <div class="more-link">
                    <%= link_to combination.name + " Quotes", topics_topic_combination_url(combination, format: :html), title: combination.name + " Quotes" %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
    <% end %>
<% end %>