<% if model.class.name == "Topic" %>
    <% if model.all_topic_combinations.any? %>
        <div class="panel panel-default panel-shadow">
          <div class="panel-heading">
            <div class="panel-title">Similar Topics</div>
          </div>
          <div class="panel-body">
            <div class="row">
              <% model.all_topic_combinations.each do |combination| %>
                <div class="col-xs-12">
                  <%= link_to combination.name + " Quotes", topics_topic_combination_url(combination, format: :html), title: combination.name + " Quotes", class: "link-box" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
    <% end %>
<% end %>

<% if model.class.name == "Proverb" %>
  <% cache "more-proverbs-#{model.slug}-#{model.updated_at.to_s(:number)}" do %>
    <div class="panel panel-default panel-shadow">
      <div class="panel-heading">
        <div class="panel-title">More Proverbs</div>
      </div>
      <div class="panel-body">
        <div class="row">
          <% Proverb.published.where.not(id: model.id).limit(10).each do |proverb| %>
            <div class="col-xs-12">
              <%= link_to proverb.name + " Proverbs", proverb_url(proverb, format: :html), title: proverb.name + " Proverbs", class: "link-box" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>