<% cache "#{model.class.name.downcase}-#{model.slug}-featured-topics-#{model.updated_at.to_s(:number)}" do %>
  <% if model.featured_topics.any? %>
    <div class="panel panel-default panel-shadow text-center">
      <div class="panel-heading">
        <% unless model.class.name == "Proverb" %>
          <div class="panel-title"><%= model.name %> Quotes on</div>
        <% else %>
          <div class="panel-title"><%= model.name %> Proverbs on</div>
        <% end %>
      </div>
      <div class="panel-body">
        <div class="row">
          <% model.featured_topics.order(slug: :ASC).each do |ft| %>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
              <%= link_to ft.topic.name, featured_topic_model_url(model, ft, format: :html), title: "#{model.name} Quotes on #{ft.topic.name}", class: "link-box text-center" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>