<div class="modal fade" tabindex="-1" role="dialog" id="logged-in-save-quote">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Add Quote To Favorites</h4>
      </div>
      <div class="modal-body">
        <div class="form"></div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $(function(){
      $(".save-quote").on("click", "i.fa-heart-o", function() {
        quoteId = $(this).parent().parent().parent().data("quote-id");
        quoteText = $(this).parent().parent().parent().html();
        //$('#logged-in-save-quote .quote').html(quoteText);
        $('#logged-in-save-quote .modal-body .form').load("<%= new_my_user_quote_url %>", function() {
          $("#logged-in-save-quote .form #user_quote_quote_id").val(quoteId);
          $("#logged-in-save-quote .form #user_quote_user_list_ids").multiselect({
            maxHeight: 200,
            buttonClass: 'btn btn-link',
            includeSelectAllOption: true,
            buttonText: function(options, select) {
              if (options.length === 0) {
                  return 'Choose List (optional)';
              }
              else if (options.length > 0) {
                  return 'Added to ' + options.length + ' lists';
              }
            }
          });
        });
        $('#logged-in-save-quote').modal('show');
      });
      
      $("#logged-in-save-quote .modal-body").on("ajax:success", "#user-add-quote", function(e, data, status, xhr) {
        $('#logged-in-save-quote').modal('hide');
        $('.quote[data-quote-id="' + data.quote_id + '"]').attr("data-user-quote-id", data.id);
        $('.quote[data-quote-id="' + data.quote_id + '"]').find(".save-quote i").removeClass("fa-heart-o").addClass("fa-heart");
      });
    });
</script>