<% if current_user %>
<div class="modal fade" tabindex="-1" role="dialog" id="logged-in-update-quote">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Save this quote</h4>
      </div>
      <div class="modal-body">
        <div class="form"></div>
        <div class="quote"></div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $(function(){
      $(".save-quote").on("click", "i.fa-heart", function() {
        userQuoteId = $(this).parent().parent().parent().data("user-quote-id");
        quoteText = $(this).parent().parent().parent().html();
        
        $('#logged-in-update-quote .quote').html(quoteText);
        
        updateUrl = "<%= edit_my_user_quote_url(id: 'id') %>";
        quoteUpdateUrl = updateUrl.replace("id", userQuoteId);

        $('#logged-in-update-quote .modal-body .form').load(quoteUpdateUrl, function() {
          $("#logged-in-update-quote .form #user_quote_user_list_ids").multiselect({
            maxHeight: 200,
            buttonClass: 'btn btn-primary',
            buttonWidth: '200px',
            buttonText: function(options, select) {
              if (options.length === 0) {
                  return 'Add To List (optional)';
              }
              else if (options.length > 3) {
                  return 'More than 3 options selected!';
              }
             else {
                 var labels = [];
                 options.each(function() {
                     if ($(this).attr('label') !== undefined) {
                         labels.push($(this).attr('label'));
                     }
                     else {
                         labels.push($(this).html());
                     }
                 });
                 return labels.join(', ') + '';
             }
            }
          });
        });
        
        $('#logged-in-update-quote').modal('show');
      });
      
      $("#logged-in-update-quote .modal-body").on("ajax:success", "#user-add-quote", function(e, data, status, xhr) {
        $('#logged-in-update-quote').modal('hide');
      });
    });
</script>
<% end %>