<div class="top-social-bar">
    <%= image_tag 'social/facebook.png', class: "social-share-image", data: {url: facebook_model_url(model)} %>
    <% if (model.social_image && model.social_image.pinterest.present?) || model.image.present? %>
        <%= image_tag 'social/pinterest.png', class: "social-share-image", data: {url: pinterest_model_url(model)} %>
    <% end %>
    <%= image_tag 'social/twitter.png', class: "social-share-image", data: {url: twitter_model_url(model)} %>    
</div>