<div class="col-sm-12">
    <h2>Edit <%= link_to "movie", admin_movie_url(@movie), class: "btn btn-default dtn-sm" %> <%= link_to "movies", admin_movies_url, class: "btn btn-default dtn-sm" %></h2>
    <%= render 'form' %>
</div>