<div class="col-sm-12">
    <h2>Edit <%= link_to "tv show", admin_tv_show_url(@tv_show), class: "btn btn-default dtn-sm" %> <%= link_to "tv shows", admin_tv_shows_url, class: "btn btn-default dtn-sm" %></h2>
    <%= render 'form' %>
</div>