<div class="col-sm-12">
    <h2>Edit <%= link_to "tv show", admin_tv_show_url(@tv_show), class: "btn btn-default btn-sm" %> <%= link_to "Delete", admin_tv_show_url(@tv_show), method: :delete, class: "btn btn-danger btn-sm" %></h2>
    <%= render 'form' %>
</div>