<% content_for :title, "Books by Alphabet #{@alphabet}" %>
<% content_for :canonical, "#{alphabet_books_url(@alphabet)}" %>

<% content_for :content do %>
  <div class="col-xs-12">
    <h1 class="main-title text-center"><%= "Books by Alphabet #{@alphabet}" %></h1>
    <div class="row">
      <% @books.each do |book| %>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
          <%= link_to book.name + " Quotes", book_url(book), title: book.name + " Quotes", class: "link-box text-center" %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<% content_for :additional_tags do %>
  <meta name="robots" content="noindex,follow">
<% end %>