<% content_for :title, @title %>

<% content_for :canonical, @canonical %>

<% content_for :heading, "Characters by Alphabet #{@alphabet}" %>

<% content_for :content do %>

  <% first = @characters.count / 3 + @characters.count % 3 %>
  <% second = first + @characters.count / 3 %>
  <% third =  second + @characters.count / 3 %>
  <div class="row">
    <div class="col-md-4">
      <ul>
        <% ( 1..first ).each do |count| %>
          <li><%= link_to @characters[count-1].name, character_url(@characters[count-1]) %></li>
        <% end %>
      </ul>
    </div>
    <div class="col-md-4">
      <ul>
        <% ( ( first + 1 )..second ).each do |count| %>
          <li><%= link_to @characters[count-1].name, character_url(@characters[count-1]) %></li>
        <% end %>
      </ul>
    </div>
    <div class="col-md-4">
      <ul>
        <% ( ( second+1 )..third ).each do |count| %>
          <li><%= link_to @characters[count-1].name, character_url(@characters[count-1]) %></li>
        <% end %>
      </ul>
    </div>
  </div>

<% end %>