<div class="col-sm-12">
    <h2>Edit <%= link_to "character", admin_character_url(@character), class: "btn btn-default dtn-sm" %> <%= link_to "characters", admin_characters_url, class: "btn btn-default dtn-sm" %></h2>
    <%= render 'form' %>
</div>