<div class="col-sm-12">
    <h2>Edit <%= link_to "profession", admin_profession_url(@profession), class: "btn btn-default dtn-sm" %> <%= link_to "professions", admin_professions_url, class: "btn btn-default dtn-sm" %></h2>
    <%= render 'form' %>
</div>