<div class="col-sm-12">
    <h2>Edit <%= link_to "proverb", admin_proverb_url(@proverb), class: "btn btn-default dtn-sm" %> <%= link_to "proverbs", admin_proverbs_url, class: "btn btn-default dtn-sm" %></h2>
    <%= render 'form' %>
</div>