<% content_for :content do %>
<div class="col-sm-12">
    <h2>Edit <%= link_to "proverb", admin_proverb_url(@proverb), class: "btn btn-default btn-sm" %> <%= link_to "Delete", admin_proverb_url(@proverb), method: :delete, class: "btn btn-danger btn-sm" %></h2>
    <%= render 'form' %>
</div>
<% end %>