<h2>Quote Topic Suggestions</h2>

<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th width="60%" class="text-center">Quote</th>
      <th width="20%" class="text-center">Topic</th>
      <th width="20%" class="text-center" colspan="2">Manage</th>
    </tr>
  </thead>

  <tbody>
    <% @quote_topic_suggestions.each do |quote_topic_suggestion| %>
      <tr>
        <td><%= quote_topic_suggestion.quote.text %></td>
        <td class="text-center"><%= quote_topic_suggestion.topic.name %></td>
        <td class="text-center">Accept</td>
        <td class="text-center">Reject</td>
      </tr>
    <% end %>
  </tbody>
</table>