<div class="col-sm-12">
    <h2>Edit <%= link_to "person", admin_person_url(@person), class: "btn btn-default dtn-sm" %> <%= link_to "people", admin_people_url, class: "btn btn-default dtn-sm" %></h2>
    <%= render 'form' %>
</div>