$icon-font-path: "bootstrap-sass/assets/fonts/bootstrap/";
@import "bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "bootstrap-sass/assets/stylesheets/bootstrap";
@import "toastr/toastr.scss";
@import "neon-core";
@import "neon-theme";
@import "neon-forms";
@import "font-awesome";
@import "entypo";
@import "fonts";


body {
    color: #949494;
    font-family: "Open Sans", sans-serif;
}

.login-page .login-header {
    padding: 1rem 0;
}

.select.inline {
    margin-top: 20px;
    margin-bottom: 10px;
}

.nested-fields {
    margin: 1rem 0;
    padding: 1rem 0;
    overflow: hidden;

    .remove_fields.existing {
        float: right;
    }

    .remove_fields.dynamic {
        float: right;
    }
}

#quoted_in_books .links,
#quote_topics .links,
#character_sources .links,
#topic_combinations .links,
#found_ats .links,
#book_authors .links,
#featured_topics .links,
#person_details .links {
    text-align: right;
}