$icon-font-path: "bootstrap-sass/assets/fonts/bootstrap/";
@import "bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "bootstrap-sass/assets/stylesheets/bootstrap";
@import "neon-core";
@import "neon-theme";
@import "neon-forms";
@import "entypo";
@import "fonts";

body {
    color: #949494;
    font-family: "Open Sans", sans-serif;
}

.login-container .main-content {
    padding: 20px;
}