$icon-font-path: "bootstrap-sass/assets/fonts/bootstrap/";
@import "bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "bootstrap-sass/assets/stylesheets/bootstrap";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
@import "global";
@import "structure";
@import "fonts";

@import "welcome";
@import "people";
@import "books";
@import "movies";
@import "tv_shows";
@import "characters";
@import "topics";
@import "proverbs";
@import "quotes";


@import "header";
@import "footer";
@import "single";
@import "aside";
@import "widgets";

ul.list-unstyled,
ol.list-unstyled {
    list-style-type: none;
}

.input-group-field.small {
    height: 34.375px;
}

.no-js .top-bar {
  display: none;
}

@media screen and (min-width: 40em) {
  .no-js .top-bar {
    display: block;
  }

  .no-js .title-bar {
    display: none;
  }
}

.byline {
  text-align: center;
  font-size: 12.8px;
}