@import "compass";
@import "bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "bootstrap-sass/assets/stylesheets/bootstrap";
@import "neon-core";
@import "neon-theme";
@import "neon-forms";
@import "colors";
@import "panels";
@import "font-awesome";
@import "font-awesome-custom";
@import "entypo";
@import "fonts";
@import "quotes";
@import "bootstrap-social";
@import "font-awesome";
@import "slick";
@import "slick-theme";
@import "welcome";
@import "top-social-bar";
@import "nav-bar";
@import "toastr/toastr.scss";

body {
    font-family: "Open Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
}

a {
  color: $link-color;
}

a:hover {
  color: $link-hover-color;
}

.page-container .main-content {
  display: block;
}

.page-container.with-sidebar .main-content {
  display: table-cell;
}

.main-title {
  margin-top: 0px;
}

.byline {
  text-align: center;
  font-size: 12.8px;
}

.slider {
  overflow: hidden;
  margin-bottom: 30px;
}

.slick-dots li button:before {
  opacity: 0.5;
  color: #303641;
}

.slick-dots li.slick-active button:before {
  opacity: 1.0;
  color: #303641;
}

.link-box {
  display: block;
  background-color: #F2F2F2;
  border: 1px solid #E2E2E2;
  padding: 5px;
  margin: 2.5px 0;
}

.menu-item {
  small {
    font-size: 75%;
  }  
}

a.link-box.menu-item:hover {
  background-color: #3B5998;
  color: #FFF;
  text-decoration: none;
}

.no-margin {
  margin: 0px;
}