.authors.index main ul,
.authors.alphabet main ul {
  list-style-type: none;
}

.authors.show main ul,
.authors.alphabet main ul {
  list-style-type: none;
}

.authors.index main ul li,
.authors.alphabet main ul li {
  background-color: #F2F2F2;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
  border: 1px solid #E7E7E7;
}

.authors.show {
  main#content {
    margin: 20px 0;

    .entry-image .thumbnail {
      margin: 0 auto;
      margin-bottom: 20px;
    }
  }
}