ol.breadcrumb {
    margin: 0px -5px;
}

@media (min-width: 768px) {
    ol.breadcrumb {
        margin: 0px -20px;
    }
}

@media (min-width: 992px) { 
    ol.breadcrumb {
        margin: 0px -40px;
    }	
}