@font-face {
	font-family: 'Open Sans';
	src: font-url('Regular/OpenSans-Regular.eot');
	src: font-url('Regular/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
	     font-url('Regular/OpenSans-Regular.woff') format('woff'),
	     font-url('Regular/OpenSans-Regular.ttf') format('truetype'),
	     font-url('Regular/OpenSans-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: font-url('Bold/OpenSans-Bold.eot');
	src: font-url('Bold/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
	     font-url('Bold/OpenSans-Bold.woff') format('woff'),
	     font-url('Bold/OpenSans-Bold.ttf') format('truetype'),
	     font-url('Bold/OpenSans-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: font-url('Light/OpenSans-Light.eot');
	src: font-url('Light/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
	     font-url('Light/OpenSans-Light.woff') format('woff'),
	     font-url('Light/OpenSans-Light.ttf') format('truetype'),
	     font-url('Light/OpenSans-Light.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}