.footer-widgets {
	color: #FFF;
	padding: 2rem 0 0 0;
}

.footer-widgets a {
	color: #fff;
}

.footer-widgets a:hover {
	color: #6295fc;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.footer-widgets .about h4 {
	color: #fff;
	text-align: center;
}

.footer-widgets .about p {
	text-align: justify;
	font-size: 0.75rem;
}

.footer-widgets .about .social-links {
	text-align: center;
	margin-bottom: 1.25rem;
}

.footer-widgets .about .subscribe {
	text-align: center;
}

.footer-widgets .footer-logo {
	text-align: center;
}

.footer-widgets .recent-posts h4 {
	color: #fff;
	text-align: center;
}

.footer-widgets .recent-posts ul {
	text-align: center;
}

.footer-widgets .recent-posts ul li {
	list-style: none;
	font-size: 0.75rem;
}

.footer-widgets .recent-posts ul li img {
	border: 1px solid #A0A0A0;
}

.site-footer {
	padding: 1rem 2rem 2rem;
}

.site-footer p {
	color: #A0A0A0;
	font-size: 0.75rem;
	margin: 0px;
}

.site-footer a {
	color: #fff;
}

.site-footer a:hover {
	color: #6295fc;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	transition: all 0.2s ease;
}