body {
    background-color: #303641;
    font-family: "Open Sans", sans-serif;
    font-size: 1.6rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p {
    text-rendering: optimizeLegibility;
}

a {
    color: #3B5998;
    
    &:hover {text-decoration: underline;}
}