#not-logged-in-save-quote {
    .quote {
        margin-top: 16px;
        
        .save-quote {
            display: none;
        }
    }
}

#logged-in-save-quote,
#logged-in-update-quote {
    .quote {
        margin-top: 16px;
            
        .quote-meta {
            display: none;
        }
    }
}