.page-container.horizontal-menu header.navbar {
    background-color: $nav-bar-background-color;    
}

.page-container.horizontal-menu header.navbar .navbar-nav > li > a {
    color: $nav-bar-color;
    border-right: 1px solid shade($nav-bar-background-color, 10);
}

.page-container.horizontal-menu header.navbar .navbar-nav > li:hover > a {
    background-color: shade($nav-bar-background-color, 10);
}

.page-container.horizontal-menu header.navbar .navbar-nav {
    border-left: 1px solid shade($nav-bar-background-color, 10);
}

.navbar-brand {
    padding: 10px !important;
    margin-bottom: 10px;
    .logo {
        width: 40px;
        height: 40px;
    }
}

.page-container.horizontal-menu header.navbar .navbar-nav > li > a,
.page-container.horizontal-menu header.navbar .navbar-nav > li > a span {
    font-size: 16px;
}

