@media (max-width: 767px) {
    .navbar {
        .navbar-nav {
            .open {
                .dropdown-menu {
                    > li > a {
                        padding: 8px 20px;
                        color: $nav-bar-color;
                        
                        &:hover,
                        &:focus {
                            color: $nav-bar-color;
                            background-color: $nav-bar-background-color;
                        }
                    }                
                }                
            }
        }
    }
}

.navbar {
    background-color: $nav-bar-background-color; 
    border-radius: initial;
    border: 0px;
    
    .navbar-header {
        .navbar-toggle {
            border-radius: initial;    
            padding: 9px 5px;
            margin-top: 13px;
            background-color: #ddd;
        }
        
        .navbar-brand {
            padding: 10px !important;
            margin-bottom: 10px;
            img.logo {
                width: 40px;
                height: 40px;
            }
            
            span.logo {
                color: white;
                font-weight: 300;
                font-size: 24px;
                line-height: 1.55;                
                letter-spacing: 1.5px;
            }
            
            span.logo .quote {
                font-weight: 400;
                background-color: initial;
                border: 0px;
                margin-bottom: initial;                
            }
        }
    }        
        
    .navbar-nav {
        > li > a,
        > li > span {
            position: relative;
            display: block;
            padding: 20px 20px;
            font-size: 16px;
            -webkit-transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
            -moz-transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
            -o-transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
            transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
            z-index: 10;    
            color: $nav-bar-color;
            // border-right: 1px solid shade($nav-bar-background-color, 10);    
            border-right: initial;                
        }
        
        > li > a span {
            font-size: 16px;
        }
        > li:hover > a,
        > li:hover > a:hover,
        > li:hover > a:focus {
            background-color: shade($nav-bar-background-color, 10);                    
            color: $nav-bar-color;
        }
        
        > li.login > a,
        > li.login > span {
            position: relative;
            display: block;
            padding: 20px 20px;
            font-size: 16px;
            -webkit-transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
            -moz-transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
            -o-transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
            transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
            z-index: 10;    
            color: $nav-bar-color;
            // border-right: 1px solid shade($nav-bar-background-color, 10);    
            border-right: initial; 
            background-color: #E45857; 
            
            &:hover {
                background-color: shade(#E45857, 10); 
            }
        }        
        
        > .open > a, 
        > .open > a:hover, 
        > .open > a:focus {
            background-color: shade($nav-bar-background-color, 10);                    
            color: $nav-bar-color;            
        }
        
        .dropdown-menu {
            background-color: tint($nav-bar-background-color, 25);
            color: $nav-bar-color;
            padding: 0px;
            border: 0px;
            
            > li > a {
                padding: 8px 20px;
                color: $nav-bar-color;
                
                &:hover,
                &:focus {
                    color: $nav-bar-color;
                    background-color: $nav-bar-background-color;
                }
            }
        }
    }
}