.quote,
.proverb {
  background-color: #F2F2F2;
  border: 1px solid #E7E7E7;
  margin-bottom: 16px;
}

.quote-text,
.proverb-text {
  background-color: #FFF;
  text-align: justify;
  font-size: initial;
  padding: 1.5rem;
  color: #000;  
}

.quote-meta,
.proverb-meta {
  background-color: #FFF;
  border-top: 1px solid #E7E7E7;  
  overflow: hidden;
}

.quote-info,
.proverb-info {
  float: left;
  width: auto;
  padding: 5px 20px 0;
}

.quote-admin {
  float: right;
  padding: 2px 20px;
}

.save-quote {
  float: left;
  padding: 2px 10px;  
  
  i.fa-heart-o {
    color: red;
    cursor: pointer;
  }
}

.social-sharing {
  float: left;
  padding: 2px 10px;
  
  i {
    font-size: 1.4em;
    line-height: inherit;
    cursor: pointer;
  }
}

.quote-topics {
  border-top: 1px solid #E7E7E7;
  padding: 5px 0;
  
  p {
    padding: 0 15px;
  }
}