.breadcrumbs {
    display: block;
    padding: 0.5625rem 0.875rem 0.5625rem;
    overflow: hidden;
    margin-left: 0;
    list-style: none;
    border-style: solid;
    border-width: 1px;
    background-color: #f4f4f4;
    border-color: gainsboro;
    border-radius: 3px;
}

.breadcrumbs {
	background-color: #F2F2F2;
	border: 1px solid #E7E7E7;
	border-radius: 0px;
}

.entry-image {
	text-align: center;
}

.entry-image img {
	border: 10px solid #E7E7E7;
}

.show #content h1 {
	text-align: center;
}

.entry-meta {
	text-align: center;
}

.entry-meta .amazon {
	background-color: #000;
	color: #fff;
	padding: .25rem;
}

.entry-meta .amazon a {
	color: #FFF;
}

.related-search {
	text-align: center;
}

.related-search ul li {
	list-style-type: none;
	font-family: monospace;
}

.show #content h2 {
	font-size: 1rem;
	font-weight: 700;
}

.show article ul,
.search article ul,
.featured_topic article ul {
	margin-left: 0px;
}

.show article,
.search article,
.featured_topic article {
	padding: 1rem 0;
}

.show article ul li,
.search article ul li,
.featured_topic article ul li{
	list-style-type: none;
	margin: 0 0 1rem 0;
}

.show .person-info {
	margin-bottom: 1rem;
	background: #F5F5F5;
	padding: 10px;
}

.show .person-info img {
	float: left;
	width: 75px;
	height: 75px;
	margin: 1rem;
}

.show .person-info p {
	margin: 1rem;
}

.show .entry-meta .last-updated,
.search .entry-meta .last-updated,
.featured_topic .entry-meta .last-updated {
	text-align: right;
	display: block;
	font-size: 0.75rem;
}

@media only screen and (min-width: 64.063em) {
	.show ul.breadcrumbs,
	.search ul.breadcrumbs,
	.featured_topic ul.breadcrumbs {
		margin: 0px -2rem;
	}
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
	.show ul.breadcrumbs,
	.search ul.breadcrumbs,
	.featured_topic ul.breadcrumbs {
		margin: 0px -1rem;
	}
}

@media only screen and (max-width: 40.063em) {
	.show ul.breadcrumbs,
	.search ul.breadcrumbs,
	.featured_topic ul.breadcrumbs {
		margin: 0px -0.25rem;
	}
}