.site-container {
	margin-top: 4rem;
	margin-bottom: 4rem;
	max-width: 1000px;
}

.wrapper {
	background-color: #FFF;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

@media only screen and (min-width: 64.063em) {
	.wrapper {
	padding: 0 4rem;
}
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
	.wrapper {
		padding: 0 2rem;
	}
}

@media only screen and (max-width: 40em) {
	.wrapper {
		padding: 0 0.5rem;
	}
}

.application main {
	padding: 4rem 0;
}