<% if alert %>
  <div class="row">
    <div class="col-lg-12">
      <div class="alert alert-danger">
        <%= alert %>
      </div>
    </div>
  </div>
<% end %>
<% if notice %>
  <div class="row">
    <div class="col-lg-12">
      <div class="alert alert-info">
        <%= notice %>
      </div>
    </div>
  </div>
<% end %>