<% content_for :title, "My Account" %>

<% content_for :breadcrumbs do %>
    <ol class="breadcrumb">
        <li><a href="<%= root_url %>">Home</a></li>
        <li>My Dashboard</li>
    </ol>
<% end %>

<% content_for :content do %>
<h2 class="text-center">My Favourite Quotes</h2>


<table class="table table-striped table-bordered table-hover">
    <thead>
        <th width="75%" class="text-center">Quote</th>
        <th width="25%" class="text-center">Source Name</th>
    </thead>
    <tbody>
        <% if @my_quotes.count > 0 %>
            <% @my_quotes.each do |quote| %>
                <tr>
                    <td><%= quote.text %></td>
                    <td class="text-center"><%= link_to quote.source.name, quote_source_url(quote.source) %></td>
                </tr>
            <% end %>
        <% else %>
            <tr>
                <td colspan="2">No quote added as favourite.</td>
            </tr>
        <% end %>
    </tbody>
</table>
<% end %>